---
# Only the main Sass file needs front matter (the dashes are enough)
---

$brand-color: #800000;
@import "minima";

.site-header {
 background-color: #800000;
}

.site-title, .page-link {
 color: white !important;
}

a {
  color: #800000;
  text-decoration: none;
}

a:visited {
  color: #800000;
  text-decoration: none;
}

figcaption {
  font-size: 9pt;
}

.center {
  display: block;
  margin: 0 auto;
}

